.newPostContainer {
    background-color: white;
    box-shadow: 2px 2px 5px 2px lightgray;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    display: flex;
    padding-left: 20px;
}

.btnStatutField {
    cursor: pointer;
    border: none;
    background-color: #dadada;  
    border-radius: 50px;
    width: 85%;
    height: 50%;
    color: #979797;
    font-size: 16px;
}

.btnStatutField:hover {
    background-color: #e6e6e6;
}

.newStatutFieldBg {
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newStatutField {
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 4px #979797;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.closeBtn {
    color: gray;
    cursor: pointer;
    font-size: 30px;
}