.fs-20{
    font-size: 20px;
}

#icons{
    font-size: 25px;
}

.logout{
    margin-bottom: 150px;
}

.sidebar{
    padding: 0px !important;
}

.sidebar ul li a:hover{
    background: #6e57e0;
}