.leftbar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.leftbarWrapper {
  padding: 20px;
}

.leftbarList {
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
}

.leftbarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.leftbarIcon {
  margin-right: 15px;
}

.leftbarButton {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  border: none;
  font-weight: bold;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.leftbarButton:hover {
  background-color: var(--first-color-alt);
}

.leftbarButtonIcon {
  font-size: 0.5rem;
}

.leftbarHr {
  margin: 20px 0;
}

.leftbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.leftbarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.leftbarFriendName {
  color: white;
}
