.navbarContainer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: var(--z-modal);
}

.navbarLeft {
  flex: 3;
}

.logo {
  font-size: var(--h1-font-size);
  margin-left: var(--mb-3);
  font-weight: bold;
  color: var(--first-color);
}

.navbarCenter {
  flex: 5;
}

.searchBar {
  width: 100%;
  height: 40px;
  background-color: var(--container-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: var(--h2-font-size) !important;
  margin: 0 var(--mb-1);
  color: var(--first-color);
}

.searchInput {
  border: none;
  width: 90%;
  background-color: var(--container-color);
  color: grey;
  font-size: var(--normal-font-size);
}

.searchInput:focus {
  outline: none;
  color: white;
}

.navbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.navbarLink {
  padding: 1rem;
  margin-right: var(--mb-1);
  font-size: var(--normal-font-size);
  cursor: pointer;
  
}

.navbarIcons {
  padding: 2rem;
  display: flex;
}

.navbarIconItem {
  margin: 1rem;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  color: white;
}

.navbarIconBadge {
  width: 15px;
  height: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 1px;
  background-color: #b30027;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
}

.navbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: var(--mb-3);
}
